# Django Ayarları
SECRET_KEY=buraya-guclu-bir-secret-key-yaz
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
USE_LOCAL_DB=False

# Veritabanı (Supabase)
DB_NAME=postgres
DB_USER=buraya-supabase-kullanici-adi
DB_PASSWORD=buraya-supabase-sifresi
DB_HOST=buraya-supabase-host
DB_PORT=6543
